h1{
    color: royalblue;
}
.header{
    background-color: turquoise;
    display: flex;
    justify-content: center;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
p,h2{
    text-align: center;
}
